---
title:  {{{{t}}}}
description: {{{{d}}}}
---

doctype 5
!{partial('includes/ieconditionals.html')}

l = {"locals":locals}
head
	!{partial('includes/head.html.jade', l)}
	
body
    #page-wrap-outer.page-wrap-outer
      #page-wrap-inner.page-wrap-inner        
        !{partial('modules/global_header.html.eco', l)}
    	{{{{b}}}}
    	!{partial('modules/global_footer.html.eco', l)}
    	
    !{partial('includes/foot.html.jade', l)}
