---
title:  {{{{t}}}}
description: {{{{d}}}}
---

doctype 5
!{partial('includes/ieconditionals.html')}

l = {"locals":locals}
head
	title  {{{{t}}}}
	!{partial('includes/head.html.jade', l)}
	
body
    #page-wrap-outer.page-wrap-outer
      #page-wrap-inner.page-wrap-inner        
        
        !{partial('modules/global-header.html.jade', l)}
        #main(role='main') 
    		{{{{b}}}}
    	!{partial('modules/global-footer.html.jade', l)}
  
    !{partial('includes/foot.html.jade', l)}