---
title: E14. UX Marketing Convergence
description:
---

doctype 5
!{partial('includes/ieconditionals.html')}

l = {"locals":locals}

head
  !{partial('includes/head.html.jade', l)}

body

  h1 UX Marketing Convergence Demos:

  a = {"locals":locals, "data":data('ux-marketing-convergence-e14/2prod.json')}
  !{partial('modules/ux-marketing-convergence-e14.html.jade', a)}

  b = {"locals":locals, "data":data('ux-marketing-convergence-e14/3prod.json')}
  !{partial('modules/ux-marketing-convergence-e14.html.jade', b)}

  c = {"locals":locals, "data":data('ux-marketing-convergence-e14/4prod.json')}
  !{partial('modules/ux-marketing-convergence-e14.html.jade', c)}

  !{partial('includes/foot.html.jade', l)}