---
name: 'example module'
meta_data: {a:'foo', b:'bar'}
---
div
  h1 !{document.name}: !{data.mode}
  h2 !{data.view}
  ul
  li !{data.content.a} !{document.meta_data.a}
  li !{data.content.b} !{document.meta_data.b}