include ../includes/jade-helpers.jade

- var search_input_default_full = "      " + data.search.input_default_text

a#SkipToContentLink(href='#main', class='visuallyhidden', tabindex='1')= data.skip_to_content.label

if typeof minimal !== 'undefined' && minimal === true
  - minimal_class = "nav-wrapper-minimal"
else 
  - minimal = false
  - minimal_class = ""

nav#nav-wrapper.container.full-bleed-no-max.m-full-bleed.nav-wrapper.no-grid-at-767(role='navigation', class=minimal_class)
  .container.navbar-mobile.visible-phone
    a#btn-mobile-nav.btn.btn-mobile-nav(href=data.logo.link)
        i.fonticon-15-mobile-menu
      a.brand.sprite-32a-sony-logo(href='#')
        span.hidden-text= data.logo.label
      if !minimal
        a.btn.btn-mobile-cart(href=data.store.link)
          i.fonticon-10-cart
          | !{sample_session_data.cart_count}
  
  #nav-outer-container.nav-outer-container 
    //- this is just to contain all the mobile nav pieces in one container 
    .nav-mobile-scroller
      //- the search menu wrapper is first for mobile so it needs to be first in the page flow. It's positioned absolute for desktop.
      .container.navmenu-w-search-container.full-bleed-at-767
        div#navmenu-w-search.navmenu-w.navmenu-w-search.input-outer-wrapper
          i.fonticon-10-arrowhead-up.nav-indicator
          div.reveal-transition-container
            div.navmenu-search-section-form
              form.navmenu-search-section-input.input-group(method='post', action='')
                i.fonticon-10-search.input-icon
                label.visuallyhidden(for='navSearch') #{data.search.label}
                input#nav-search-input(type='text', name='navSearch', role='search', value=search_input_default_full, tabindex='1401')
                a.btn-clear-search-input.input-clear-btn(href='#')
                  i.fonticon-10-x-skinny
            
            div.navmenu-search-section-results
              div.navmenu-search-popular-searches
                p.l3= data.search.popular_searches.label
                  ul.navmenu-list.navmenu-list-extended

                    - each item, i in data.search.popular_searches.menu_items
                      li.search-result-line
                        a.tl(href=item.link, tabindex=(1410+i))= item.label

              div.navmenu-search-results
                ul.navmenu-list.navmenu-list-results
                  
                  - each item, i in sample_search_results.primary_results
                    if item.type === "regular"
                      li.search-result-line
                        a(href=item.link, tabindex=(1450+i))
                          img(src=item.img, alt=item.headline, width='83', height='64')
                          span.search-result-p
                            span.search-result-headline= item.headline
                            span.search-result-descript= item.description
                          i.fonticon-10-chevron
                      hr
                    if item.type === "icon"
                      li.search-result-line.search-result-canned
                        a(href=item.link, tabindex=1450+i)
                          i(class=item.icon_class)
                          span.search-result-p
                            span.search-result-headline= item.headline
                          i.fonticon-10-chevron

                ul.navmenu-list-extended
                  - each item, i in sample_search_results.secondary_results
                    li.search-result-line
                      a.tl(href=item.link, tabindex=1460+i)= item.label

                a.btn.btn-show-all-results(href=data.search.all_results_btn.link, tabindex='1490')= data.search.all_results_btn.label

      div.navmenu-w.navmenu-w-mobile-top.visible-phone
        ul.navmenu-list.navmenu-list-main
          if !minimal
            li.navmenu-line.navmenu-li-store
              a.tl(href=data.store.link)
                i.fonticon-10-cart
                | !{data.store.label}
            li.navmenu-line.navmenu-li-location
              a.tl.navmenu-style-tl(href=data.store_locator.link)
                i.fonticon-10-location
                | !{data.store_locator.label}
              span.navmenu-li-ext-text
              | - !{sample_session_data.current_location}
            li.navmenu-line.navmenu-li-support
              a.tl(href=data.support.link)
                i.fonticon-10-support
                | !{data.support.label}
          li.navmenu-line.navmenu-li-favorites
            a.tl.navmenu-style-tl(href=data.favorites.link)
              i.fonticon-10-favorite
              | !{data.favorites.label}
    
      //- The navtrays are before the navbar for correct ordering of the mobile nav menu
      if !minimal
        div.navtray-w.navtray-w-fullwidth-3-4.navtray-w-electronics.navtray-w-tall#navtray-w-electronics
          div.navtray#navtrayElectronics

            div.navtray-section.navtray-section-main.navtray-section-main-w-all-btn
              h4.visible-phone= data.electronics.label
              ul.navtray-list-main
                
                - each item, i in data.electronics.menu_main.menu_items
                  li.navtray-li(class=item.class)
                    a.navtray-li-link.tl(href=item.link, tabindex=(101+i))
                      span.nav-img-w
                        mixin iQImage(item.img)
                      span.nav-label!=item.label
              a.navmenu-style-tl.nav-view-all-tl(href=data.electronics.menu_main.all_link.link, tabindex='190')
                i.fonticon-10-grid-3x3
                | !{data.electronics.menu_main.all_link.label}

            div.navtray-section.navtray-section-featured
              h6.l2= data.electronics.menu_featured.title
              ul.navtray-list-secondary
                - each item, i in data.electronics.menu_featured.menu_items
                  li.navtray-li(class=item.class)
                    a.navtray-li-link.tl(href=item.link, tabindex=(200+1))= item.label
              p.navtray-secondary-promo
                img(src=data.electronics.menu_featured.promo.img, alt=data.electronics.menu_featured.promo.title)
                span.p2= data.electronics.menu_featured.promo.title
                span.p3= data.electronics.menu_featured.promo.message
                  a(href=data.electronics.menu_featured.promo.link, tabindex='250') 
                    |  !{data.electronics.menu_featured.promo.link_text}
        div.navtray-w.navtray-w-fullwidth-3-4.navtray-w-entertainment.navtray-w-short#navtray-w-entertainment
          div.navtray#navtrayEntertainment
            div.navtray-section.navtray-section-main
              h4.visible-phone= data.entertainment.label
              ul.navtray-list-main
               
                - each item, i in data.entertainment.menu_main.menu_items
                  li.navtray-li(class=item.class)
                    a.navtray-li-link.tl(href=item.link, tabindex=(501+i))
                      span.nav-img-w                        
                        mixin iQImage(item.img)
                      span.nav-label= item.label

            div.navtray-section.navtray-section-featured.navtray-section-featured-short
              p.navtray-secondary-promo.navtray-secondary-promo-short
                img(src=data.entertainment.menu_featured.promo.img, alt=data.entertainment.menu_featured.promo.title)
                span.p2= data.entertainment.menu_featured.promo.title
                span.p3= data.entertainment.menu_featured.promo.message
                  a(href=data.entertainment.menu_featured.promo.link, tabindex='550') 
                    |  !{data.entertainment.menu_featured.promo.link_text}

      div.navbar-outer
        div.container.navbar.full-bleed-at-767
          div.grid.full-bleed-at-767
            a.brand.sprite-32a-sony-logo(href=data.logo.link, tabindex='10')
              span.hidden-text= data.logo.label
            if !minimal
              ul.nav.nav-primary(role='navigation')
                li.nav-li.nav-li-universal-mobile.test 
                  a.nav-li-link(href=data.universal.link) 
                    i.fonticon-10-square-neg-plus
                    | !{data.universal.label}
                li.nav-li.nav-li-store
                  a.nav-li-link(href=data.store.link, tabindex='20') 
                    i.fonticon-10-cart
                    | !{data.store.label}
                    span.global-nav-indicator-bar
                li.nav-li.nav-li-electronics
                  a.nav-li-link.nav-dropdown-toggle(data-target='navtray-w-electronics', href='#navtrayElectronics', tabindex='100')
                    | !{data.electronics.label}
                    i.fonticon-10-arrowhead-down
                    span.global-nav-indicator-bar
                li.nav-li.nav-li-entertainment
                  a.nav-li-link.nav-dropdown-toggle(data-target='navtray-w-entertainment', href='#navtrayEntertainment', tabindex='500')
                    | !{data.entertainment.label}
                    i.fonticon-10-arrowhead-down
                    span.global-nav-indicator-bar.for-navtray-short
                li.nav-li.nav-li-support
                  a.nav-li-link(href=data.support.link, tabindex='1000')
                    i.fonticon-10-support
                    | !{data.support.label}
                    span.global-nav-indicator-bar

            ul.nav.nav-utility(role='role="navigation"') 
              if !minimal
                li.nav-li.nav-li-account
                  a.nav-li-link.nav-li-linkBtn.nav-dropdown-toggle(data-target='navmenu-w-account', href='#navmenu-w-account', tabindex='1100') 
                    if sample_session_data.logged_in === true
                      - shortUsername = sample_session_data.username
                      if shortUsername.length > 7
                        - shortUsername = sample_session_data.username.substr(0,7) + "&hellip;"
                      span= shortUsername
                      i.fonticon-10-arrowhead-down
                    else 
                      | !{data.account.label}
                      i.fonticon-10-arrowhead-down

                  div.navmenu-w.navmenu-w-account#navmenu-w-account
                    i.fonticon-10-arrowhead-up.nav-indicator
                    div.reveal-transition-container
                      if sample_session_data.logged_in !== true
                        a.btn.btn-small.btn-login(href=data.account.menu.log_in.link)= data.account.menu.log_in.label
                      ul.navmenu-list.navmenu-list-prefixed
                        li.navmenu-line.navmenu-li-cart
                          a.tl.navmenu-style-tl(href=data.cart.link)
                            i.fonticon-10-cart
                            | !{data.cart.label_short} 
                            span.nav-li-count
                              | !{sample_session_data.cart_count}
                        li.navmenu-line.navmenu-li-favorites
                          a.tl.navmenu-style-tl(href=data.favorites.link)
                            i.fonticon-10-favorite
                            | !{data.favorites.label}
                      ul.navmenu-list.navmenu-list-main
                        
                        if sample_session_data.logged_in === true
                          li.navmenu-line.navmenu-li-welcome.visible-phone 
                            | Hi !{sample_session_data.username}

                        - each item, i in data.account.menu.menu_items 
                          li.navmenu-line
                            a.tl.navmenu-style-tl(href=item.link, tabindex=(1101+i)) 
                              i(class=item.icon_class)
                              | !{item.label}
                      if sample_session_data.logged_in == true
                        a.btn.btn-small.btn-logout(href=data.account.menu.log_out.link, tabindex='1150')= data.account.menu.log_out.label

              li.nav-li.nav-li-favorites
                a.nav-li-link.nav-li-linkBtn.nav-li-linkBtn-mini(href=data.favorites.link, tabindex='1200')
                  i.fonticon-10-favorite
                  span.visuallyhidden 
                    | !{data.favorites.label}
              if !minimal
                li.nav-li.nav-li-cart
                  a.nav-li-link.nav-li-linkBtn.nav-li-linkBtn-mini(href=data.cart.link, tabindex='1300')
                    i.fonticon-10-cart
                    span.visuallyhidden= data.cart.label
                    span.nav-li-count= sample_session_data.cart_count
              li.nav-li.nav-li-search
                a.nav-li-link.nav-li-linkBtn.nav-dropdown-toggle.nav-dropdown-toggle-btn(data-target='navmenu-w-search', href='#nav-search-input', tabindex='1400')
                  span.lbl= data.search.label
                  i.fonticon-10-search
              if !minimal
                li.nav-li.nav-li-universal
                  a.nav-li-link.nav-li-linkBtn(href='#', tabindex='1500')
                    | !{data.universal.label}
                    i.fonticon-10-arrowhead-up


