
.grid
	.span10.offset1
		for video in data.video
			section(data-module-name="video-module")
				h2 #{video.title}
				div(id = video.target_div.id, class = video.target_div.class, data-media != video.target_div.data_media)
					figure
						img.iq-img(class = video.poster.class, alt=video.poster.alt, data-src= video.poster.src)
						noscript
	          				img(src= video.poster.noscriptsrc)
						figcaption #{video.poster.alt}
			
				button(type = "button", data-target= video.target_div.id, class='btn btn-primary #{video.buttons.action_button.class}') #{video.buttons.action_button.label}
	
				button(type = "button", class='btn btn-primary #{video.buttons.pause.class}') #{video.buttons.pause.label}
				
				button(type = "button", class='btn btn-primary #{video.buttons.play.class}') #{video.buttons.play.label}
				
// BrightCove script
script(src='http://admin.brightcove.com/js/BrightcoveExperiences.js')

script
	var modVP;
	var modExp;
	var modCon;
	var previousVideoID = 0;
	var currentVideo;
	
	function myTemplateLoaded(experienceID) {
		player = brightcove.api.getExperience(experienceID);
	    modVP = player.getModule(brightcove.api.modules.APIModules.VIDEO_PLAYER);
	    modExp = player.getModule(brightcove.api.modules.APIModules.EXPERIENCE);
	    modCon = player.getModule(brightcove.api.modules.APIModules.CONTENT);
	    modExp.addEventListener(brightcove.api.events.ExperienceEvent.TEMPLATE_READY, onTemplateReady);
	}
	
	function onTemplateReady(evt) {
		modVP.addEventListener(brightcove.api.events.MediaEvent.BEGIN, videoStart);
        modVP.addEventListener(brightcove.api.events.MediaEvent.CHANGE, onMediaEventFired);
        modVP.addEventListener(brightcove.api.events.MediaEvent.COMPLETE, onMediaEventFired);
        modVP.addEventListener(brightcove.api.events.MediaEvent.ERROR, onMediaEventFired);
        modVP.addEventListener(brightcove.api.events.MediaEvent.PLAY, onMediaEventFired);
        modVP.addEventListener(brightcove.api.events.MediaEvent.PROGRESS, onMediaProgressFired);
        modVP.addEventListener(brightcove.api.events.MediaEvent.STOP, onMediaEventFired);
    }
    
    function playVideo() {
    	modVP.play();
    }
    
    function pauseVideo() {
    	modVP.pause();
    }

    function onMediaEventFired(evt) {
        //console.log("MEDIA EVENT: " + evt.type + " fired at position: " + evt.position);
    }

    function onMediaProgressFired(evt) {
        // console.log("CURRENT POSITION: " + evt.position);
    }

    function videoStart(evt) {
        // console.log("MEDIA EVENT: " + evt.type + " fired at position: " + evt.position);
    } 
      
    $(document).ready(function() {
	
	    $(".btn-play").click(function(e) {
	        e.preventDefault();
	        playVideo();
	     });
	
	    $(".btn-pause").click(function(e) {
	        e.preventDefault();
	        pauseVideo();
	    });

    }); 
