
mixin kickerhead(d)
  d = d || data
  if d.kicker 
    p.kicker.l2 !{d.kicker}
  if d.headline
    h1 !{d.headline}
    
mixin subheadbody(d)
  d = d || data
  if d.subhead 
    h5 !{locals.plusify(d.subhead)}
  if d.body 
    p.p3 !{d.body}
    
mixin links(d)
  d = d || data
  if d.links
    for link in d.links
      a(class = link.type, href= link.url) !{link.text}

section.primary-tout.container.full-bleed-no-max(class= data.mode)
  e = {"locals":locals, "data":data.image}
  !{locals.partial('modules/image.html.jade' , e)}
  .container.inner(class= data.style)
    if data.mode == "primary-tout" || data.mode == "product-intro-plate"
      .grid.no-grid-at-767
        .box.span5(class = data.style)
          +kickerhead
          +subheadbody
          +links

    else if data.mode == "home-page"
      .grid.no-grid-at-767
        .span5.offset1
          .fill.ghost-center-wrap
            .ghost-center
              +kickerhead
  
      .box.grid.no-grid-at-767
        .span6
          +subheadbody
          
        .span3.offset3
          +links
