mixin eyebrow(d)
  d = d || data
  if d.eyebrow
    if d.eyebrow.link
      a.eyebrow(href= d.eyebrow.link)!= locals.plusify(d.eyebrow.text)
    else
      h2.t6.eyebrow!= locals.plusify(d.eyebrow.text)

mixin header(d)
  d = d || data
  hgroup
	  if d.variation && d.variation.headertext == "larger"
	    h1!= d.headline
	  else
	    h1.t2!= d.headline

mixin bodytext(d)
  d = d || data
  if d.body 
    p.p3!= d.body
    
mixin links(d, extraclass)
  d = d || data
  extraclass = extraclass || ""
  if d.links
    for link in d.links
      a(class= extraclass)(class= link.type, href= link.url)!= link.text

mixin boxclass(layout)
  layout = layout || data.layout
  classes = layout.alignment
  if layout.mobilealign
    classes = classes + " " + layout.mobilealign
  .box(class = classes)
    block

mixin boxlayout(layout)
  layout = layout || data.layout
  if layout.text == "left"
    .container.inner.grid.no-grid-at-767(class= data.style)
      - span = "span" + layout.columns[0]
      div(class= span)
        .table-center-wrap
          .table-center
            +boxclass
              block
  else if layout.text == "right" || layout.text == "center"
    .container.inner.grid.no-grid-at-767(class= data.style)
      - span = "span" + layout.columns[1]
      - offset =  "offset" + layout.columns[0]
      div(class= span)(class= offset)
        .table-center-wrap
          .table-center
            +boxclass
              block

article.primary-tout.container.full-bleed-no-max(class= data.mode)(class= data.theme, data-module-name != data.config.module_name, data-module-id= data.config.module_id)
  e = {"locals":locals, "data":data.image}
  !{locals.partial('modules/image.html.jade' , e)}
  if data.mode == "homepage"
    if data.variation.secondbox
      +boxlayout
        +eyebrow
        +header
      .secondary.container.full-bleed-no-max(class= data.variation.substyle)
        .box
          .container.grid.no-grid-at-767
            .span6
              +bodytext
            .span3.offset3.clearfix
              +links(data, "pull-right")
    else
      +boxlayout
        +eyebrow
        +header
        +bodytext
        +links
  else if data.mode == "primary-tout"
    +boxlayout
      +eyebrow
      +header
      +bodytext
      +links
  else if data.mode == "product-intro-plate"
    +boxlayout
      +eyebrow
      +header
      +bodytext
      +links
  else if data.mode == "title-plate"
    +boxlayout
      +eyebrow
      h1.t3!= data.headline
      +bodytext
      +links(data, "btn-mini")



  
