mixin eyebrowheader(d)
  d = d || data
  if d.eyebrow
    p.l3!= locals.plusify(d.eyebrow)
  if d.variation.headertext == "larger"
    h1!= d.headline
  else
    h2!= d.headline
    
mixin subheadbody(d)
  d = d || data
  if d.body 
    p.p3!= d.body
    
mixin links(d, extraclass)
  d = d || data
  extraclass = extraclass || ""
  if d.links
    for link in d.links
      a(class= extraclass)(class= link.type, href= link.url)!= link.text
      
mixin boxlayout(layout)
  layout = layout || data.layout
  if layout.text == "left"
    .container.inner.grid.no-grid-at-767(class= data.style)
      - span = "span" + layout.columns[0]
      div(class= span)
        .table-center-wrap
          .table-center
            .box(class = layout.alignment)
              block
  else if layout.text == "right" || layout.text == "center"
    .container.inner.grid.no-grid-at-767(class= data.style)
      - span = "span" + layout.columns[1]
      - offset =  "offset" + layout.columns[0]
      div(class= span)(class= offset)
        .table-center-wrap
          .table-center
            .box(class = layout.alignment)
              block

section.primary-tout.container.full-bleed-no-max(class= data.mode)
  e = {"locals":locals, "data":data.image}
  !{locals.partial('modules/image.html.jade' , e)}
  if data.mode == "homepage"
    if data.variation.secondbox
      +boxlayout
        +eyebrowheader
      .secondary.container.full-bleed-no-max(class= data.variation.substyle)
        .box
          .container.grid.no-grid-at-767
            .span6
              +subheadbody
            .span3.offset3.clearfix
              +links(data, "pull-right")
    else
      +boxlayout
        +eyebrowheader
        +subheadbody
        +links
  else if data.mode == "primary-tout"
    +boxlayout
      +eyebrowheader
      +subheadbody
      +links
  else if data.mode == "product-intro-plate"
    +boxlayout
      +eyebrowheader
      +subheadbody
      +links




  
