
if data.view == "basic"
  klass = '';
  if data.layout == 'large' || data.layout == 'carousel'
    klass = 'span3 large'
  else if data.layout == 'promo'
    klass = 'span2 promo'
  else if data.layout == 'medium'
    klass = 'span2 medium'
  else if data.layout == 'plate'
    klass = 'span2 plate'
  else
    klass = 'span1 normal'

  a.gallery-item(class=klass, data-priority=data.priority, href=data.href ? data.href : '#')
    .gallery-item-inner
      if data.label
        span.label.label-success= data.label

      if data.layout == 'promo'
        .product-img
          .iq-img(data-src=data.img.src)
          p.text-promo-title
            strong= data.title
            | &nbsp;
            | !{data.emphasis}
            i.icon-ui2-chevron-18-blue
          if data.count
            p.text-count
              span.number.l2= data.count.number
              | &nbsp;
              span.text.l3= data.count.text

      else if data.layout == 'plate'
        .product-img(class=data.backgroundColorClass)
          .product-content
            .text-promo-title
              strong= data.title
              | !{data.emphasis}
          if data.count
            p.text-count
              span.number.l2= data.count.number
              | &nbsp;
              span.text.l3= data.count.text
      else
        .product-img
          .product-img-wrap.ghost-center-wrap
            .ghost-center
              if data.layout == 'carousel'
                each img in data.imgCarousel
                  img.iq-img(alt=img.alt, data-src=img.src)
                  noscript
                    img(src=img.noscriptsrc, alt=img.alt)

              else if data.layout == 'large'
                img.iq-img(alt=data.imgLarge.alt, data-src=data.imgLarge.src)
                noscript
                  img(src=data.imgLarge.noscriptsrc, alt=data.imgLarge.alt)

              else if data.layout == 'medium'
                img.iq-img(alt=data.img.alt, data-src=data.img.src)
                noscript
                  img(src=data.img.noscriptsrc, alt=data.img.alt)

              else
                img.iq-img(alt=data.imgSmall.alt, data-src=data.imgSmall.src)
                noscript
                  img(src=data.imgSmall.noscriptsrc, alt=data.imgSmall.alt)

              if data.imgSmall.colors
                each img in data.imgSmall.colors
                  img.iq-img.hidden(data-src=img.src, data-color=img.color, alt=img.alt, itemprop="image")
                  noscript
                    img.hidden(src=img.noscriptsrc, alt=img.alt, itemprop="image")

          if data.img && data.img.colors
            .color-swatches.clearfix
              each color in data.img.colors
                theClass = 'mini-swatch swatch-' + color.color + ' pull-left'
                span(class=theClass, data-color=color.color, itemprop="color")= color.color

          else if data.imgSmall && data.imgSmall.colors
            .color-swatches.clearfix
              each color in data.img.colors
                theClass = 'mini-swatch swatch-' + color.color + ' pull-left'
                span(class=theClass, data-color=color.color, itemprop="color")= color.color

        .product-content
          .product-name.p3= data.name
          .product-price
            p.price
              span.p5 Starting at &nbsp;
              span.l2= '$' + data.price + '&nbsp;'
              span.msrp.p5 MSRP


else if data.view == 'detailed'
  filterSet = JSON.stringify( data.filterSet )
  a.span4.gallery-item(data-filter-set=filterSet, data-priority=data.priority, itemscope, itemtype="http://schema.org/Product", itemprop="url", href=data.href ? data.href : '#')
    .gallery-item-inner
      if data.label
        span.label.label-success= data.label
      .product-img
        .product-img-wrap.ghost-center-wrap.js-product-imgs
          .ghost-center
            img.iq-img.js-product-img-main(data-src=data.img.src, itemprop="image", alt=data.img.alt)
            noscript
              img(src=data.img.noscriptsrc, itemprop="image", alt=data.img.alt)
            each img in data.img.colors
              img.iq-img.hidden(data-src=img.src, data-color=img.color, alt=img.alt, itemprop="image")
              noscript
                img.hidden(src=img.noscriptsrc, alt=img.alt, itemprop="image")
        if data.img.colors
          .color-swatches.clearfix
            each color in data.img.colors
              colorClass = 'mini-swatch swatch-' + color.color + ' pull-left'
              span(class=colorClass, data-color=color.color, itemprop="color")= color.color

      .product-content
        .product-name.p3(itemprop="name")= data.name
        .product-model.p5(itemprop="model")= data.model
        .product-rating.p5(data-stars=data.rating.stars, itemprop="reviews", itemscope, itemtype="http://schema.org/AggregateRating")
          meta(itemprop="ratingValue", content=data.rating.stars)
          i.icon-ui-star
          i.icon-ui-star
          i.icon-ui-star
          i.icon-ui-star
          i.icon-ui-star
          | (
          span(itemprop="ratingCount")= data.rating.stars
          | user reviews)

        ul.product-meta.p3
          each meta in data.meta
            li
              |= meta.value
              span.prodcut-meta-name= meta.name

        .product-price
          .price
            span.p5 Starting at &nbsp;
            span.l2(itemprop="price")= '$' + data.price + '&nbsp;'
            span.msrp.p5 MSRP

        .detail-group.hidden
          if data.details
            each detail in data.details
              detailClass = 'detail' + detail.isHighlighted ? ' highlighted' : ''
              div(class=detailClass, data-label=detail.label, itemprop=detail.slug)
                if detail.value.check
                  |= detail.value.text
                else if detail.value.box
                  p.compare-box= detail.value.box
                  p= detail.value.lineOne
                  if detail.value.lineTwo
                    p= detail.value.lineTwo
                  if detail.value.lineThree
                    p= detail.value.lineThree
                else if detail.value.lineOne
                  p= detail.value.lineOne
                  if detail.value.lineTwo
                    p= detail.value.lineTwo
                  if detail.value.lineThree
                    p= detail.value.lineThree
                else if detail.value[0].description
                  ul.media-list
                    each value in detail.value
                      li.media
                        .pull-left
                          mediaClass = 'media-object icon-bestfor-' + value.icon
                          i(class=mediaClass)
                        .media-body
                          p.media-heading.p3.text-dark= value.label
                          p.p3= value.description
                else
                  |= detail.value

else if data.view == "specs"

  .span4.spec-item(itemscope, itemtype="http://schema.org/Product")
    .spec-column-header.table-center-wrap
      .table-center
        .product-name.p3(itemprop="name")= data.name
        .product-model.p5(itemprop="model")= data.model

    each spec, i in data.specs
      .spec-item-cell
        h4.visible-phone= labels[i]

        if spec.name && spec.list && spec.img
          p= spec.name
          p.l3= spec.listTitle
          ul.unstyled.p3.before-btm-aligned.spec-list
            each option in spec.list
              li= option
          img.iq-img.btm-aligned(data-src=spec.img.src, alt=spec.img.alt)
          noscript
            img.btm-aligned(src=spec.img.noscriptsrc, alt=spec.img.alt)

        else if spec.callout && spec.text
          p.compare-box= spec.callout
          p= spec.text
          if spec.list
            if spec.listTitle
              p.l3= spec.listTitle
            ul.unstyled.p3.spec-list
              each li in spec.list
                li= li

        else if spec.text
          p= spec.text
          if spec.subtext
            p.p3= spec.subtext

          if spec.sublist
            ul.unstyled.p3.spec-list
              each li in spec.sublist
                li= li

        else if spec.colors
          .color-swatches.clearfix
            each color in spec.colors
              colorClass = 'mini-swatch swatch-' + color + ' pull-left'
              span(class=colorClass, itemprop="color")= color

        else if spec.definitionList
          if spec.img
            .text-center.dl-img
              img.iq-img(data-src=spec.img.src, alt=spec.img.alt)
              noscript
                img(src=spec.img.noscriptsrc, alt=spec.img.alt)

          dl.dl-horizontal
            each li in spec.definitionList
              dt.l3= li.term
              dd.p3= li.definition

        else if spec.label && spec.callout && spec.list && spec.icon
          div
            iconClass = 'icon-' + spec.icon
            i(class=iconClass)= spec.icon
          p= spec.callout
          ul.unstyled.p3.spec-list
            each li in spec.list
              li= li
          p.l3= spec.label
          p.p3= spec.labeledText

        else if spec.list
          ul.unstyled.p3.spec-list
            each li in spec.list
              li= li

        else
          .l4 Unable to parse the kind of specification you gav me :(

else
  em on noes, you don't have a view variable set :(

