
.spec-multi

  .sticky-tabs.tab-strip.spec-tabs
    .tabs-container.container.m-full-bleed
      .tabs

  .container
    .grid
      p.sony-recommends.pull-right
        span.p3 Sony Recommends
        i.icon-uibig-win8.win8-logo

    .grid
      a.spec-title-link.tl(href="#") Vaio Z
      h1.spec-title Vaio Z Details

    .grid
      ul.spec-views.inline.p3
        li.active: a(href="#specifications") Specifications
        li: a(href="#features") Features

  numModels = data.submodules.length

  section.spec-products#specifications
    .container
      nav.spec-nav-container.relative
        button.nav-paddle.spec-nav.spec-nav-prev
          i.icon-ui2-chevron-18-white-left
        button.nav-paddle.spec-nav.spec-nav-next
          i.icon-ui2-chevron-18-white-right
      .grid
        .span2.detail-labels-wrap
          .compare-sticky-header.sticky-count
            .product-count-wrap.table-center-wrap
              .table-center
                span.text-dark.product-count= numModels
                |  Models
          .detail-labels-wrapping
            .product-count-wrap.table-center-wrap
              .table-center
                span.text-dark.product-count= numModels
                |  Models

            .detail-label-group
              each label in data.labels
                .detail-label.detail
                  span.l3= label

        .spec-items-wrap
          .spec-items-container
            each module, i in data.submodules
              d = locals.data(module.data)
              if d.type == "product"
                - d.view = "specs"
                - d.iterator = i
                e = { "locals" : locals, "data" : d, "labels" : data.labels }
                !{locals.partial('modules/' + module.type, e )}

  section.spec-tiles-wrap.container#features
    .grid
      h2= data.features.title
    .spec-tiles.slimgrid.no-grid-at-567
      each tile in data.features.tiles
        .spec-tile.span4
          if tile.img
            .iq-wrap
              figure.iq-container
                img.iq-img(data-src=tile.img.src, alt=tile.img.alt)
                noscript
                  img(src=tile.img.noscriptsrc, alt=tile.img.alt)

          .tile-content
            h3.tile-title= tile.title
            p= tile.description
            if tile.link
              a.tl(href=tile.link.href)= tile.link.text
