include ../includes/jade-helpers.jade

.spec-multi

  .sticky-tabs.tab-strip.spec-tabs
    .tabs-container.container.m-full-bleed
      .tabs

  .container

    .grid.spec-title-wrap
      a.spec-title-link.tl(href=data.titleLink.href)= data.titleLink.label
      .sony-recommends
        span.p3 Sony Recommends
        i.icon-uibig-win8.win8-logo
      h1.t2.spec-title= data.title

    .grid
      ul.spec-views.inline
        each link, i in data.internalLinks
          - clss = i ? '' : 'active'
          li(class=clss)
            a.p3(href=link.href)= link.label

  numModels = data.submodules.length

  section.spec-products#specifications
    .container
      nav.spec-nav-container.relative
        button.nav-paddle.spec-nav.spec-nav-prev
          i.icon-ui2-chevron-18-white-left
        button.nav-paddle.spec-nav.spec-nav-next
          i.icon-ui2-chevron-18-white-right
      .grid.no-grid-at-567
        .span2.detail-labels-wrap
          .compare-sticky-header.sticky-count
            .product-count-wrap.table-center-wrap
              .table-center
                span.l3.p3.product-count= numModels
                span.p3  Models
          .detail-labels-wrapping
            .product-count-wrap.table-center-wrap
              .table-center
                span.l3.p3.product-count= numModels
                span.p3  Models

            .detail-label-group
              each label in data.labels
                .detail-label.detail
                  span.l3= label

        .spec-items-wrap
          .spec-items-container
            each module, i in data.submodules
              d = locals.data(module.data)
              if d.type == "product"
                - d.view = "specs"
                - d.iterator = i
                e = { "locals" : locals, "data" : d, "labels" : data.labels }
                !{locals.partial('modules/' + module.type, e )}

  section.spec-tiles-wrap.container#features
    .grid
      h3.t6= data.features.title
    .spec-tiles.slimgrid.no-grid-at-479
      each tile in data.features.tiles
        .spec-tile.span4
          if tile.img
            .iq-wrap
              figure.iq-container
                mixin iQImage( tile.img )

          .tile-content
            h3.tile-title= tile.title
            p= tile.description
            if tile.link
              a.tl(href=tile.link.href)= tile.link.text
