---
title: Tertiary Module Template
---

//- START Tertiary Content Container
section.tcc-wrapper.container.full-bleed-no-max.m-full-bleed(id=data.id, data-tcc-mode="#{data.moduleMode}")

  for header in data.header
    .tcc-header-wrapper.container
      .tcc-header.grid.m-full-bleed
        p.tcc-header-title.l1 #{header.title}

        p.tcc-header-link.lt2
          a(href="#{header.link}") #{header.linkText}
  
  section.tcc-scroller.tcc-body-wrapper.container
    .tcc-body.grid.no-grid-at-767
    
      for module in data.contentModules
        for variation in module.variations
          - textStyle   = variation.style
          - alignment   = variation.alignment
          - contentType = variation.contentType
          - contentMode = variation.contentMode

        //- (class=textStyle)(class=alignment)
        .tcc-content-module.span4(class=contentType)(class=contentMode)(data-tcc-content-type=contentType, data-tcc-content-mode=contentMode)  

          if contentType == "article"
                    
            if contentMode != "featured"

              if(module.imgSrc)
                //- image (optional)
                div.img-container
                  div.img-wrap
                    img.iq-img(alt="#{module.imgAltTxt}", data-src="#{module.imgSrc}")
                    noscript
                      img(src="#{module.noScriptImg}")

                  if (contentMode == "news") && (module.date)
                    p.news-date.l3
                      | #{module.date}

                  if (contentMode == "event") && (module.attendanceCount)
                    div.attendance-count.ghost-center-wrap
                      div.ghost-center
                        p.t3
                          | #{module.attendanceCount} 
                        p.l2
                          | attending

              .tcc-copy
                
                if(module.title)
                  //- title (required)
                  p.t6 
                    strong #{module.title}

                //- body copy (optional)
                if(module.bodyCopy)
                  p.lt3 #{module.bodyCopy}
                
                    if(module.articleLink)
                      a(href="#{module.articleLink}")
                        | &nbsp; Read More
                        //- | <br/> Read More

            else
              //- Assumes Featured Article
              p featured

          if contentType == "users-voice" 

            if contentMode == "expert-quote"
              p expert-quote

            if contentMode == "user-quote"
              p user-quote

            if contentMode == "question"
              p question

          if contentType == "sonys-voice"
              if contentMode == "twitter"
                //- SONYS-VOICE:TWITTER
                
                //- icon (required)
                img(src="img/icon_twitter.png")

                .meta
                  for meta in module.meta
                    
                    if(meta.user)
                      //- user (required)
                      p.l3 #{meta.user} 

                    if(meta.timestamp)
                      //- timestamp (required)
                      p.l4 #{meta.timestamp}
                
                if(module.quote)        
  
                  //- quote (required)
                  blockquote.bq2
  
                    p #{module.quote}

                      if(module.quoteLink)
                        a.tl(href="#{module.quoteLink}") #{module.quoteLink}

                  if(module.socialLink)
    
                    //- social link (required)
                    p
                      a.btn(href="#{module.socialLink}")
    
                        | Follow us on Twitter

              if contentMode == "facebook"
                p facebook

              if contentMode == "instagram"
                p instagram

          if contentType == "flickr"
            li flickr

              if contentMode == "default"
                p default

//- END Tertiary Content Container