---
title: Tertiary Module Template
---

//- START Tertiary Content Container
section.tcc-wrapper.container.full-bleed-no-max.m-full-bleed(id=data.id, data-tcc-mode="#{data.moduleMode}")

  for header in data.header
    .tcc-header-wrapper.container
      .tcc-header.grid.m-full-bleed
        p.tcc-header-title.l1 #{header.title}

        p.tcc-header-link.lt3
          a(href="#{header.link}") #{header.linkText}
  
  section.tcc-scroller.tcc-body-wrapper.container
    .tcc-body.grid.no-grid-at-767
    
      for module in data.contentModules
        for variation in module.variations
          - textStyle   = variation.style
          - alignment   = variation.alignment
          - contentType = variation.contentType
          - contentMode = variation.contentMode

        .tcc-content-module.span4(class=contentType)(class=contentMode)(data-tcc-content-type=contentType, data-tcc-content-mode=contentMode)  

          case contentType
            when "article"
              if(module.imgSrc)

                //- image (optional)
                div.img-container
                  div.img-wrap
                    img.iq-img(alt="#{module.imgAltTxt}", data-src="#{module.imgSrc}")
                    noscript
                      img(src="#{module.noScriptImg}")

                  if(contentMode == "featured") && (module.title)
                     .feature-copy
                      
                        p.t4 #{module.title}
                        
                        p.lt3
                          a(href="#{module.articleLink}") Read More
                          
                  if(contentMode == "news") && (module.date)
                    p.news-date.l3
                      | #{module.date}

                  if(contentMode == "event") && (module.attendanceCount)
                    div.attendance-count.ghost-center-wrap
                      div.ghost-center
                        p.l4
                          span
                            | #{module.attendanceCount} 
                          | attending

              if (contentMode != "featured")
                .tcc-copy               
                  if (module.title)
                    //- title (required)
                    p.t6 
                      | #{module.title}

                  //- body copy (optional)
                  if (module.bodyCopy)
                    p.p3 #{module.bodyCopy}               

                  if (module.articleLink)
                    p.lt3
                      a(href="#{module.articleLink}")
                        | Read More
              
            when "users-voice"
              if (contentMode == "expert-quote")
                p expert-quote

              if (contentMode == "user-quote")
                p user-quote

              if (contentMode == "question")
                p question
            
            when "sonys-voice"
              if (contentMode == "twitter")
                  //- SONYS-VOICE:TWITTER
                  
                  //- icon (required)
                  img(src="img/icon_twitter.png")

                  .meta
                    for meta in module.meta
                      
                      if(meta.user)
                        //- user (required)
                        p.l3 #{meta.user} 

                      if (meta.timestamp)
                        //- timestamp (required)
                        p.l4 #{meta.timestamp}
                  
                  if (module.quote)        
    
                    //- quote (required)
                    blockquote.bq2
    
                      p #{module.quote}

                        if (module.quoteLink)
                          a.tl(href="#{module.quoteLink}") #{module.quoteLink}

                    if(module.socialLink)
      
                      //- social link (required)
                      p
                        a.btn(href="#{module.socialLink}")
      
                          | Follow us on Twitter

                if (contentMode == "facebook")
                  p facebook

                if (contentMode == "instagram")
                  p instagram

            when "flickr"
              if (contentMode == "default")
                p default
              
//- END Tertiary Content Container