// START Tertiary Content Container
section.tcc-wrapper.container.full-bleed-no-max.m-full-bleed(data-tcc-mode="#{data.mode}")

	for header in data.header
		// HEADER	
		header.tcc-header-wrapper.container
			.tcc-header.grid.m-full-bleed
				p.tcc-header-title.l1 #{header.title}

				p.tcc-header-link
					a.tl(href="#{header.link}") #{header.linkText}
	
	section.tcc-scroller.tcc-body-wrapper.container
		.tcc-body.grid.no-grid-at-767
	
			for module in data.contentModules
				.tcc-content-module.span4(class=module.type)(data-tcc-module-type="#{module.type}", data-tcc-module-mode="#{module.mode}")	

					if module.type == "article"
					
							if module.mode == "default"
								//- ARTICLE:DEFAULT

								//- image (optional)
								img.iq-img(alt="#{module.imgAltTxt}", data-src="#{module.imgSrc}")
								
								noscript
									img(src="#{module.noscriptImg}")

								.tcc-copy

									//- title (required)
									p.l1 #{module.title}

									//- body copy (optional)
									p.p3 #{module.bodyCopy}
										a.tl(href="#{module.articleLink}")
											| Read More

							if module.mode == "featured"
								p featured

							if module.mode == "news"
								p news

							if module.mode == "event"
								p event

					if module.type == "users-voice"
		
						li users-voice

							if module.mode == "expert-quote"
								p expert-quote

							if module.mode == "user-quote"
								p user-quote

							if module.mode == "question"
								p question


					if module.type == "sonys-voice"
							if module.mode == "twitter"
								//- SONYS-VOICE:TWITTER
								
								//- icon (required)
								img(src="img/icon_twitter.png")

								.meta
									for meta in module.meta
										//- user (required)
										p.l3 #{meta.user} 

										//- timestamp (required)
										p.l4 #{meta.timestamp}
												
								//- quote (required)
								blockquote.bq2
									p #{module.quote}
										a.tl(href="#{module.quoteLink}") #{module.quoteLink}

								//- social link (required)
								p
								  a.btn(href="#{module.socialLink}")
								  	| Follow us on Twitter

							if module.mode == "facebook"
								p facebook

							if module.mode == "instagram"
								p instagram

					if module.type == "flickr"
						li flickr

							if module.mode == "default"
								p default

// END Tertiary Content Container