---
title: Tertiary Module Template
---

mixin socialButton(link, label)
  .social-btn
    a.btn(href= link)
      | #{label}


//- START Tertiary Content Container
section.tcc-wrapper.container.full-bleed-no-max.m-full-bleed(id=data.id, data-tcc-mode="#{data.moduleMode}")

  for header in data.header
    .tcc-header-wrapper.container
      .tcc-header.grid.m-full-bleed
        p.tcc-header-title.l1 #{header.title}

        p.tcc-header-link.lt3
          a(href="#{header.link}") #{header.linkText}
  
  .loader
    img(src="img/global/loader.gif")

  section.tcc-scroller.tcc-body-wrapper.container.full-bleed-at-767
    .tcc-body.grid.no-grid-at-767
    
      for module in data.contentModules
        - classNames = ["tcc-content-module","span4","table-center-wrap"]

        for variation in module.variations
          - contentType = variation.contentType
          - contentMode = variation.contentMode
          - classNames.push(contentMode, contentType)

          if(contentMode == "featured") && (module.imgSrc)
            - backgroundImg = module.imgSrc
            - classNames.push("iq-img")
          else
            - backgroundImg = null         

        div(class=classNames, data-tcc-content-type= contentType, data-tcc-content-mode= contentMode, data-src= backgroundImg)
          case contentType
            when "article"
              if(contentMode == "featured") && (module.title) && (module.imgSrc)
                article
                 .feature-copy
                    p.t4 #{module.title}
                    p.lt3
                      a(href="#{module.articleLink}") Read More
              else
                .img-container
                  .img-wrap
                    img.iq-img(alt= module.imgAltTxt, data-src= module.imgSrc)
                    noscript
                      img(src= module.noScriptImg)
                            
                    if(contentMode == "news") && (module.date)
                      p.news-date.l3
                        | #{module.date}

                    if(contentMode == "event") && (module.attendanceCount)
                      .attendance-count.ghost-center-wrap
                        .ghost-center
                          p.l4
                            span
                              | #{module.attendanceCount} 
                            | attending

              if (contentMode != "featured")
                .tcc-copy               
                  if (module.title)
                    //- title (required)
                    p.t6 
                      | #{module.title}

                  //- body copy (optional)
                  if (module.bodyCopy)
                    p.p3 #{module.bodyCopy}               

                  if (module.articleLink)
                    p.lt3
                      a(href= module.articleLink)
                        | Read More
              
            when "users-voice"
              if (contentMode == "expert-quote")
                .title.l3
                  | #{module.title}

                blockquote.bq3
                  p
                    | #{module.quote}

                .credits
                  .avatar
                    img.iq-img(alt= module.avatarImgAltText, data-src= module.avatarImgSrc)
                      noscript
                        img(src= module.avatarNoScriptImg)
                
                  p.author.l3
                    a(href="#{module.authorLink}")
                      | #{module.author}

              if (contentMode == "user-quote")
                .title.l3
                  | #{module.title}

                blockquote.bq3
                  p
                    | #{module.quote}

                .credits
                  .avatar
                    img.iq-img(alt= module.avatarImgAltText, data-src= module.avatarImgSrc)
                      noscript
                        img(src= module.avatarNoScriptImg)

                  p.handle.p4
                    a(href="#{module.authorLink}")
                      | #{module.authorHandle}

                  p.author.p4
                    | #{module.author}

              if (contentMode == "question")
                .credits
                  .avatar
                    img.iq-img(alt= module.avatarImgAltText, data-src= module.avatarImgSrc)
                      noscript
                        img(src= module.avatarNoScriptImg)
                  
                  p.author.p4
                    a(href= module.authorLink)
                      | #{module.authorHandle} 
                    | #{module.title}
              
                blockquote.bq3
                  p
                    | #{module.question}

                p.lt3
                  a(href= module.repliesLink)
                    | See Replies

                .answer-btn
                  a.btn(href= module.answerLink)
                    | Answer this Question
            
            when "sonys-voice"
              if (contentMode == "twitter")
                .fonticon-10-twitter

              if (contentMode == "facebook")
                .fonticon-10-facebook

              if (contentMode == "instagram")
                .fonticon-instagram
                  img(src="img/tertiary-t1-t5/icon-instagram.png")
                
              .meta
                for meta in module.meta                   
                  p.p4    
                    if (meta.user)
                      //- user (required)
                      span.user #{meta.user} 

                    if (meta.timestamp)
                      //- timestamp (required)
                      span.timestamp #{meta.timestamp}

              .center-content.table-center
                if (contentMode == "twitter")
                  - label = "Follow Us on Twitter"

                  //- quote
                  blockquote.bq4
                    p
                      | #{module.quote}

                if (contentMode == "facebook")
                  - label = "Like Us on Facebook"
                  
                  //- tile
                  .post-tile
                    img.iq-img(alt= module.postImgAltText, data-src= module.postImg)
                      noscript
                        img(src= module.postImgNoScriptImg)

                  blockquote.post-copy.bq5
                      p
                        | #{module.postCopy}
                        a
                          | #{module.postLink}

                if (contentMode == "instagram")
                  - label = "Follow Us on Instagram"
                  table
                    tbody
                      tr
                        td.top-left
                          img.iq-img(alt= module.instagramTLImgAltText, data-src= module.instagramTLImg)
                          noscript
                            img(src= module.instagramTLNoScriptImg)
                        td.top-right(rowspan=2)
                          img.iq-img(alt= module.instagramRImgAltText, data-src= module.instagramRImg)
                          noscript
                            img(src= module.instagramRNoScriptImg)
                        td.top-center-phone
                          img.iq-img(alt= module.instagramRImgAltText, data-src= module.instagramRImg)
                          noscript
                            img(src= module.instagramRNoScriptImg)
                        td.top-right-phone
                          img.iq-img(alt= module.instagramBLImgAltText, data-src= module.instagramBLImg)
                          noscript
                            img(src= module.instagramBLNoScriptImg)

                      tr.bottom-row
                        td.bottom-left
                          img.iq-img(alt= module.instagramBLImgAltText, data-src= module.instagramBLImg)
                          noscript
                            img(src= module.instagramBLNoScriptImg)


              - link = module.socialBtnLink
              mixin socialButton( link, label )

            when "flickr"
              if (contentMode == "default")
                .fonticon-flickr
                  .white-bg.fonticon-10-dot
                  .fonticon-10-dot.left
                  .fonticon-10-dot.right

                //- .temp
                //-   img(src="img/tertiary-t1-t5/icon-flickr.png")

                .meta.p4
                  for meta in module.meta        
                    | #{meta.user} #{meta.title}
                
                - images = module.images
                .center-content.table-center
                  table
                    tbody
                      tr.top-row
                        td.top-left
                          img.iq-img(alt= images[0].altText, data-src= images[0].src)
                          noscript
                            img(src= images[0].noScriptSrc)
                        td.top-center
                          img.iq-img(alt= images[1].altText, data-src= images[1].src)
                          noscript
                            img(src= images[1].noScriptSrc)
                        td.top-right
                          img.iq-img(alt= images[2].altText, data-src= images[2].src)
                          noscript
                            img(src= images[2].noScriptSrc)

                      tr.bottom-row
                        td.bottom-left
                          img.iq-img(alt= images[3].altText, data-src= images[3].src)
                          noscript
                            img(src= images[3].noScriptSrc)
                        td.bottom-center
                          img.iq-img(alt= images[4].altText, data-src= images[4].src)
                          noscript
                            img(src= images[4].noScriptSrc)
                        td.bottom-right
                          img.iq-img(alt= images[5].altText, data-src= images[5].src)
                          noscript
                            img(src= images[5].noScriptSrc)

                - link = module.socialBtnLink
                - label = " View Set on Flickr"
                mixin socialButton( link, label )


//- END Tertiary Content Container


