- tccSectionID = "tcc-" + data.moduleMode

//- START Tertiary Content Container
section.tcc-wrapper.container.full-bleed-no-max.m-full-bleed(id=tccSectionID, data-tcc-mode="#{data.moduleMode}")

  for header in data.header
    .tcc-header-wrapper.container
      .tcc-header.grid.m-full-bleed
        p.tcc-header-title.l1 #{header.title}

        p.tcc-header-link
          a.tl(href="#{header.link}") #{header.linkText}
  
  section.tcc-scroller.tcc-body-wrapper.container
    .tcc-body.grid.no-grid-at-767
    
      for module in data.contentModules
        for variation in module.variations
          - textStyle = variation.style
          - alignment = variation.alignment
          - contentType = variation.contentType
          - contentMode = variation.contentMode

        //- contentModuleClasses = contentType + "-" + contentMode
        //- (class=contentModuleClasses)
        .tcc-content-module.span4(class=textStyle)(class=alignment)(data-tcc-content-type=contentType, data-tcc-content-mode=contentMode)

          if contentType == "article"
                    
            if contentMode == "default"
              //- ARTICLE:DEFAULT

              if(module.imgSrc)
                //- image (optional)
                img.iq-img(alt="#{module.imgAltTxt}", data-src="#{module.imgSrc}")
                
                noscript
                  img(src="#{module.noScriptImg}")

              .tcc-copy
                
                if(module.title)
                  //- title (required)
                  p.l1 #{module.title}

                //- body copy (optional)
                if(module.bodyCopy)
                  p.p3 #{module.bodyCopy}
                
                    if(module.articleLink)
                      a.tl(href="#{module.articleLink}")
                    
                        | &nbsp; Read More

            if contentMode == "featured"
              p featured

            if contentMode == "news"
              p news

            if contentMode == "event"
              p event

          if contentType == "users-voice"
    
            li users-voice

              if contentMode == "expert-quote"
                p expert-quote

              if contentMode == "user-quote"
                p user-quote

              if contentMode == "question"
                p question

          if contentType == "sonys-voice"
              if contentMode == "twitter"
                //- SONYS-VOICE:TWITTER
                
                //- icon (required)
                img(src="img/icon_twitter.png")

                .meta
                  for meta in module.meta
                    
                    if(meta.user)
                      //- user (required)
                      p.l3 #{meta.user} 

                    if(meta.timestamp)
                      //- timestamp (required)
                      p.l4 #{meta.timestamp}
                
                if(module.quote)        
  
                  //- quote (required)
                  blockquote.bq2
  
                    p #{module.quote}

                      if(module.quoteLink)
                        a.tl(href="#{module.quoteLink}") #{module.quoteLink}

                if(module.socialLink)
  
                  //- social link (required)
                  p
  
                    a.btn(href="#{module.socialLink}")
  
                      | Follow us on Twitter

              if contentMode == "facebook"
                p facebook

              if contentMode == "instagram"
                p instagram

          if contentType == "flickr"
            li flickr

              if contentMode == "default"
                p default

//- END Tertiary Content Container