section.uxmc

  div.grid
    h2 #{data.theme} with Sony
    p #{data.header.description}

  div(class=['grid', 'uxmc-container', 'mode-'+data.mode.toLowerCase(), 'theme-'+data.theme.toLowerCase()])

    div.base-product
      div.uxmc-overlay
        h3 #{data.baseProduct.title}
      div.uxmc-background
        div.iq-img(data-src=data.baseProduct.imgSrc)
        noscript
          img(src=data.baseProduct.imgSrc)

    ul.partner-products
      for product in data.partnerProducts
        li
          a(href=product.link)
            div.uxmc-overlay
              p #{product.description}
              span #{product.title}
            div.uxmc-background
              div.iq-img(data-src=product.imgSrc)
              noscript
                img(src=product.imgSrc)
