section
  h2 #{data.theme} with Sony
  p #{data.header.description}
  div(class=['grid', 'uxmc-wrapper', 'mode-'+data.mode.toLowerCase(), 'theme-'+data.theme.toLowerCase()])
    div.span4
      h3 #{data.baseProduct.title}
      img.iq-img(data-src=data.baseProduct.imgSrc)
      noscript
        img(src=data.baseProduct.imgSrc)

    ul.partner-products.span8
      for product in data.partnerProducts
        li
          a(href=product.link)
            p #{product.description}
            span #{product.title}
            img.iq-img(data-src=product.imgSrc)
            noscript
              img(src=product.imgSrc)
