section.container.uxmc

  div.grid
    h2 #{data.header}

  div.grid.uxmc-container(class=['mode-'+data.mode.toLowerCase()])

    a.fonticon-10-sm-bold-plus.btn-reload(title='Load another product to go with your ' + data.baseProduct.title, href='#')

    div.base-product
      div.uxmc-overlay
        h3 #{data.baseProduct.title}
      div.uxmc-image-wrapper.iq-img(data-src=data.baseProduct.imgSrc)
        span
        img.iq-img(data-src=data.baseProduct.imgSrc)

    ul.partner-products
      for product in data.partnerProducts
        li(class=['theme-'+product.theme.toLowerCase()])
          div.uxmc-overlay
            p #{product.topLine}
            a.fonticon-10-chevron--after(href=product.link, title=product.altText) #{product.linkText}
          div.uxmc-image-wrapper.iq-img(data-src=product.imgSrc)
            span
            img.iq-img(data-src=product.imgSrc)

    div.progress-indicators
      div
        - for (var i = 1; i <= data.partnerProducts.length; i++)
          div.uxmc-dial-wrapper
            span.uxmc-dial-label #{i}
            input.uxmc-dial(type='text', value='0')
