---
title: Editorial Module Layouts
description: This shows several layout possibilities for the editorial module.
---
doctype 5
!{partial('includes/ieconditionals.html')}

l = {"locals":locals}
  head
    !{partial('includes/head.html.jade', l)}
  
  body
  
    h6 textonly center 1.10.1:
    e = {"locals":locals, "data":data('editorial/textonly-center-1101-lorem1.json')}
    !{partial('modules/editorial.html.jade', e)}
    hr
    
    h6 textonly left 8.4:
    e = {"locals":locals, "data":data('editorial/textonly-left-84-lorem1.json')}
    !{partial('modules/editorial.html.jade', e)}
    hr
    
    h6 textonly right 4.8:
    e = {"locals":locals, "data":data('editorial/textonly-right-48-lorem1.json')}
    !{partial('modules/editorial.html.jade', e)}
    hr
    
    h6 medialeft 8.4:
    e = {"locals":locals, "data":data('editorial/medialeft-84-photo1.json')}
    !{partial('modules/editorial.html.jade', e)}
    hr
    
    h6 medialeft 7.5:
    e = {"locals":locals, "data":data('editorial/medialeft-75-photo1.json')}
    !{partial('modules/editorial.html.jade', e)}
    hr
    
    h6 medialeft 6.6:
    e = {"locals":locals, "data":data('editorial/medialeft-66-photo1.json')}
    !{partial('modules/editorial.html.jade', e)}
    hr
    
    h6 medialeft 5.7:
    e = {"locals":locals, "data":data('editorial/medialeft-57-photo1.json')}
    !{partial('modules/editorial.html.jade', e)}
    hr
    
    h6 medialeft 4.8:
    e = {"locals":locals, "data":data('editorial/medialeft-48-photo1.json')}
    !{partial('modules/editorial.html.jade', e)}
    hr
    
    h6 mediaright 8.4:
    e = {"locals":locals, "data":data('editorial/mediaright-84-photo1.json')}
    !{partial('modules/editorial.html.jade', e)}
    hr
    
    h6 mediaright 7.5:
    e = {"locals":locals, "data":data('editorial/mediaright-75-photo1.json')}
    !{partial('modules/editorial.html.jade', e)}
    hr
    
    h6 mediaright 6.6:
    e = {"locals":locals, "data":data('editorial/mediaright-66-photo1.json')}
    !{partial('modules/editorial.html.jade', e)}
    hr
    
    h6 mediaright 5.7:
    e = {"locals":locals, "data":data('editorial/mediaright-57-photo1.json')}
    !{partial('modules/editorial.html.jade', e)}
    hr
    
    h6 mediaright 4.8:
    e = {"locals":locals, "data":data('editorial/mediaright-48-photo1.json')}
    !{partial('modules/editorial.html.jade', e)}
    hr
    
    h6 full inner right 7.5:
    e = {"locals":locals, "data":data('editorial/full-inner-right-75-photo1.json')}
    !{partial('modules/editorial.html.jade', e)}
    hr
    
    h6 full inner right 5.7:
    e = {"locals":locals, "data":data('editorial/full-inner-right-57-photo1.json')}
    !{partial('modules/editorial.html.jade', e)}
    hr
    
    h6 full inner left 7.5:
    e = {"locals":locals, "data":data('editorial/full-inner-left-75-photo1.json')}
    !{partial('modules/editorial.html.jade', e)}
    hr
    
    h6 full left 6.6:
    e = {"locals":locals, "data":data('editorial/full-left-66-photo1.json')}
    !{partial('modules/editorial.html.jade', e)}
    hr
    
    h6 full3up center  4.4.4:
    e = {"locals":locals, "data":data('editorial/full3up-center-444-lorem1.json')}
    !{partial('modules/editorial.html.jade', e)}
    hr
    
    h6 3up 4.4.4:
    e = {"locals":locals, "data":data('editorial/3up-444-photo1.json')}
    !{partial('modules/editorial.html.jade', e)}
    hr
    
    h6 2up 6.6:
    e = {"locals":locals, "data":data('editorial/2up-66-photo1.json')}
    !{partial('modules/editorial.html.jade', e)}      
    hr
    
    h6 2up inner 6.6:
    e = {"locals":locals, "data":data('editorial/2up-inner-66-photo1.json')}
    !{partial('modules/editorial.html.jade', e)}
    hr
  
    !{partial('includes/foot.html.jade', l)}

</html>