---
title: Editorial Module Layouts
description: This shows several layout possibilities for the editorial module.
---
doctype 5
!{partial('includes/ieconditionals.html')}

l = {"locals": locals}
  head
    !{partial('includes/head.html.jade', l)}
  
  body 
    h6 textonly full:
    e = {"locals":locals, "data":data('editorial-e1-e15/textonly-full-D-C-lorem1.json')}
    !{partial('modules/editorial-e1-e15.html.jade', e)}
    hr
    
    h6 textonly left 8.4:
    e = {"locals":locals, "data":data('editorial-e1-e15/textonly-left-84-D-L-lorem1.json')}
    !{partial('modules/editorial-e1-e15.html.jade', e)}
    hr
    
    h6 textonly right 4.8:
    e = {"locals":locals, "data":data('editorial-e1-e15/textonly-right-48-D-L-lorem1.json')}
    !{partial('modules/editorial-e1-e15.html.jade', e)}
    hr
    
    h6 medialeft 8.4:
    e = {"locals":locals, "data":data('editorial-e1-e15/medialeft-84-D-L-photo1.json')}
    !{partial('modules/editorial-e1-e15.html.jade', e)}
    hr
    
    h6 medialeft 7.5:
    e = {"locals":locals, "data":data('editorial-e1-e15/medialeft-75-D-L-photo1.json')}
    !{partial('modules/editorial-e1-e15.html.jade', e)}
    hr
    
    h6 medialeft 6.6:
    e = {"locals":locals, "data":data('editorial-e1-e15/medialeft-66-D-L-photo1.json')}
    !{partial('modules/editorial-e1-e15.html.jade', e)}
    hr
    
    h6 medialeft 5.7:
    e = {"locals":locals, "data":data('editorial-e1-e15/medialeft-57-D-L-photo1.json')}
    !{partial('modules/editorial-e1-e15.html.jade', e)}
    hr
    
    h6 medialeft 4.8:
    e = {"locals":locals, "data":data('editorial-e1-e15/medialeft-48-D-L-photo1.json')}
    !{partial('modules/editorial-e1-e15.html.jade', e)}
    hr
    
    h6 mediaright 8.4:
    e = {"locals":locals, "data":data('editorial-e1-e15/mediaright-84-D-L-photo1.json')}
    !{partial('modules/editorial-e1-e15.html.jade', e)}
    hr
    
    h6 mediaright 7.5:
    e = {"locals":locals, "data":data('editorial-e1-e15/mediaright-75-D-L-photo1.json')}
    !{partial('modules/editorial-e1-e15.html.jade', e)}
    hr
    
    h6 mediaright 6.6:
    e = {"locals":locals, "data":data('editorial-e1-e15/mediaright-66-D-L-photo1.json')}
    !{partial('modules/editorial-e1-e15.html.jade', e)}
    hr
    
    h6 mediaright 5.7:
    e = {"locals":locals, "data":data('editorial-e1-e15/mediaright-57-D-L-photo1.json')}
    !{partial('modules/editorial-e1-e15.html.jade', e)}
    hr
    
    h6 mediaright 4.8:
    e = {"locals":locals, "data":data('editorial-e1-e15/mediaright-48-D-L-photo1.json')}
    !{partial('modules/editorial-e1-e15.html.jade', e)}
    hr
    
    h6 full inner right 7.5:
    e = {"locals":locals, "data":data('editorial-e1-e15/full-inner-right-75-L-L-photo1.json')}
    !{partial('modules/editorial-e1-e15.html.jade', e)}
    hr
    
    h6 full inner right 5.7:
    e = {"locals":locals, "data":data('editorial-e1-e15/full-inner-right-57-L-L-photo1.json')}
    !{partial('modules/editorial-e1-e15.html.jade', e)}
    hr
    
    h6 full inner left 7.5:
    e = {"locals":locals, "data":data('editorial-e1-e15/full-inner-left-75-L-L-photo1.json')}
    !{partial('modules/editorial-e1-e15.html.jade', e)}
    hr
    
    h6 full left 6.6:
    e = {"locals":locals, "data":data('editorial-e1-e15/full-left-66-D-L-photo1.json')}
    !{partial('modules/editorial-e1-e15.html.jade', e)}
    hr
    
    h6 full3up center  4.4.4:
    e = {"locals":locals, "data":data('editorial-e1-e15/full3up-center-444-D-C-lorem1.json')}
    !{partial('modules/editorial-e1-e15.html.jade', e)}
    hr
    
    h6 3up 4.4.4:
    e = {"locals":locals, "data":data('editorial-e1-e15/3up-444-D-L-photo1.json')}
    !{partial('modules/editorial-e1-e15.html.jade', e)}
    hr
    
    h6 2up 6.6:
    e = {"locals":locals, "data":data('editorial-e1-e15/2up-66-D-L-photo1.json')}
    !{partial('modules/editorial-e1-e15.html.jade', e)}      
    hr
    
    h6 2up inner 6.6:
    e = {"locals":locals, "data":data('editorial-e1-e15/2up-inner-66-L-L-photo1.json')}
    !{partial('modules/editorial-e1-e15.html.jade', e)}
    hr
  
    !{partial('includes/foot.html.jade', l)}

</html>