---
title: 'jade test page'
description: 'this is a jade temlage page'
---
doctype 5
!{partial('includes/ieconditionals.html')}

l = {"locals":locals}
head
	!{partial('includes/head.html.jade', l)}

body
	e = {"locals":locals, "data":data('example/mode1.json')}
	!{partial('modules/example.html.jade', e)}

	e = {"loals":locals, "data":{"mode":"two", "content":{"a":3,"b":4}}}
	!{partial('modules/example.html.jade', e)}

	!{partial('includes/foot.html.jade', l)}