---
title: 'jade test page'
description: 'this is a jade temlage page'
---
l = {"locals": locals}
doctype 5
!{partial('includes/ieconditionals.html')}

head
  !{partial('includes/meta.html')}
  !{partial('includes/fonts.html')}
  
  if 'debug' == getEnvironments()
	!{partial('includes/css_debug.html.jade', l)}
  else
	!{partial('includes/css_deploy.html,jade', l)}  

  !{partial('includes/js_head.html')}

body
  e = {"locals":locals, "data":data('example/mode1.json')}
  !{partial('modules/example.html.jade', e)}
  
  e = {"loals":locals, "data":{"mode":"two", "content":{"a":3,"b":4}}}
  !{partial('modules/example.html.jade', e)}

  if 'debug' == getEnvironments()
	!{partial('includes/js_footer_debug.html.jade', l)}
  else
	!{partial('includes/js_footer_deploy.html.jade', l)}