---
title: Gallery Module
description: Tabbed galleries for masonic layouts with filters and a compare tool.
---
doctype 5
!{partial('includes/ieconditionals.html')}

l = {"locals":locals}
head
  !{partial('includes/head.html.jade', l)}

body
  #page-wrap-outer.page-wrap-outer
    #page-wrap-inner.page-wrap-inner

      //- e = {"locals":locals, "data":{mode:'two', content:{a:'3',b:'4'}}}
      //- !{partial('modules/global_header.html.eco', e)}
      e = {"locals":locals, "data":data('gallery/default.json')}
      !{partial('modules/gallery.html.jade', e)}
      //- e = {"locals":locals, "data":{mode:'two', content:{a:'3',b:'4'}}}
      //- !{partial('modules/global_footer.html.eco', e)}


  //- script(src="js/libs/bootstrap-transition.js")

  !{partial('includes/foot.html.jade', l)}
