---
title: G2-G3. Gallery Module / Page / Compare Gallery Tool
description:
---
include ../partials/includes/jade-helpers.jade
doctype 5
!{partial('includes/ieconditionals.html')}

l = {"locals":locals}
head
  !{partial('includes/head.html.jade', l)}

body
  #page-wrap-outer.page-wrap-outer
    #page-wrap-inner.page-wrap-inner

      //- Header
      !{partial('modules/global-header.html.jade', l)}

      //- Primary Tout
      //- e = {"locals":locals, "data":data('primary-tout-p1-d7/default.json')}
      //- !{partial('modules/primary-tout-p1-d7.html.jade', e)}
      .hero
        .hero-img-wrap
          img(src="img/cyber-shot-hero.jpg", alt="")
        .ghost-center-wrap.hero-text-wrap
          .hero-text.ghost-center
            hgroup.container
              .grid
                p.primary-tout-subtitle.l5 Cameras
                h2.primary-tout-title Cyber-shot&reg;

      //- Gallery
      e = {"locals":locals, "data":data('gallery-g2-g3/default.json')}
      //- e = {"locals":locals, "data":data('gallery-g2-g3/gallery-g2-g3-tv.json')}
      !{partial('modules/gallery-g2-g3.html.jade', e)}

      //- Footer
      !{partial('modules/global-footer.html.jade', l)}

  script(src="js/libs/jquery.infinitescroll.js")
  script(src="js/libs/bootstrap-transition.js")
  script(src="js/libs/bootstrap-button.js")
  script(src="js/libs/bootstrap-dropdown.js")
  script(src="js/libs/bootstrap-collapse.js")
  script(src="js/libs/bootstrap-tooltip.js")
  script(src="js/libs/bootstrap-popover.js")
  script(src="js/libs/bootstrap-modal.js")

  !{partial('includes/foot.html.jade', l)}
