---
title: Global Header/Footer Demo
description: Global Header/Footer Demo
---
doctype 5
!{partial('includes/ieconditionals.html')}

l = {"locals":locals}
  head
    !{partial('includes/head.html.jade', l)}

  body
    #page-wrap-outer.page-wrap-outer
      #page-wrap-inner.page-wrap-inner
        !{partial('modules/global-header.html.jade', l)}

        div#main.container.m-full-bleed(role='main', style='background: rgb(70, 70, 70);')

          .bs-docs-grid
            .div(style="height:400px;")
              //- ul.the-icons.clearfix
              //-   li
              //-     i.fonticon-10-favorite.old-ie-font-fix-white(aria-hidden='true')
              //-     | fonticon-10-favorite
              //-   li
              //-     i.fonticon-10-newsletter.old-ie-font-fix-white(aria-hidden='true')
              //-     | fonticon-10-newsletter
              //-   li
              //-     i.fonticon-10-registered.old-ie-font-fix-white(aria-hidden='true')
              //-     | fonticon-10-registered
              //-   li
              //-     i.fonticon-10-support.old-ie-font-fix-white(aria-hidden='true')
              //-     | fonticon-10-support
              //-   li
              //-     i.fonticon-15-popup.old-ie-font-fix-white(aria-hidden='true')
              //-     | fonticon-15-popup
              //-   li
              //-     i.fonticon-15-twitter.old-ie-font-fix-white(aria-hidden='true')
              //-     | fonticon-15-twitter
              //-   li
              //-     i.fonticon-15-facebook-sm.old-ie-font-fix-white(aria-hidden='true')
              //-     | fonticon-15-facebook-sm
              //-   li
              //-     i.fonticon-15-gplus.old-ie-font-fix-white(aria-hidden='true')
              //-     | fonticon-15-gplus
              //-   li
              //-     i.fonticon-15-youtube.old-ie-font-fix-white(aria-hidden='true')
              //-     | fonticon-15-youtube
              //-   li
              //-     i.fonticon-40-battery.old-ie-font-fix-white(aria-hidden='true')
              //-     | fonticon-40-battery
              //-   li
              //-     i.fonticon-60-win8.old-ie-font-fix-white(aria-hidden='true')
              //-     | fonticon-60-win8
              //-   li
              //-     i.fonticon-60-sony.old-ie-font-fix-white(aria-hidden='true')
              //-     | fonticon-60-sony


        !{partial('modules/global-footer.html.jade', l)}
        !{partial('includes/foot.html.jade', l)}

</html>
