---
title: Global Header/Footer Demo
description: Global Header/Footer Demo
---
doctype 5
!{partial('includes/ieconditionals.html')}

l = {"locals":locals}
  head
    !{partial('includes/head.html.jade', l)}
    script(src='js/libs/bootstrap-dropdown.js', type='text/javascript')

  body
    #page-wrap-outer.page-wrap-outer
      #page-wrap-inner.page-wrap-inner
        !{partial('modules/global-header.html.jade', l)}

        section.container.m-full-bleed(style='background: rgb(70, 70, 70);')

          .bs-docs-grid
            .div(style="height:400px;")


        !{partial('modules/global-footer.html.jade', l)}
        !{partial('includes/foot.html.jade', l)}

</html>
