---
title: Global Header/Footer Demo
description: Global Header/Footer Demo
---
doctype 5
!{partial('includes/ieconditionals.html')}

l = {"locals":locals}
  head
    !{partial('includes/head.html.jade', l)}
    script(src='js/libs/bootstrap-dropdown.js', type='text/javascript')

  body
    #page-wrap-outer.page-wrap-outer
      #page-wrap-inner.page-wrap-inner
        !{partial('modules/global-header.html.jade', l)}

        section.container.m-full-bleed(style='background: rgb(70, 70, 70);')

          .bs-docs-grid
            .grid.show-grid.m-grid-at-767.no-grid-at-479
              .span2.m-span2 2a (2)
              .span2.m-span2 2b (2)
              .span2.m-span2 2c (2)
              .span2.m-span2.m-span-new-row 2d (2)
              .span2.m-span2 2e (2)
              .span2.m-span2 2f (2)
            .grid.show-grid
              .span2.m-span1 2g (1)
              .span2.m-span1 2h (1)
              .span2.m-span1 2i (1)
              .span2.m-span1 2j (1)
              .span2.m-span1 2k (1)
              .span2.m-span1 2l (1)

          .bs-docs-grid
            .grid.show-grid.m-grid-at-767.no-grid-at-479
              .span2.m-span1 2l
              .span3.m-span2 3m
              .span3.m-span2 3n
              .span4.m-span1 1o
            .grid.show-grid
              .span6.m-span3 6p
              .span6.m-span3 6q

          div(style='margin-top: 50px;')
            .grid.show-grid.m-grid-at-567
              .span3.m-span6 3a
              .span4.offset2.m-span4.m-offset1.m-span-new-row 4 offset 2
              .span3.m-span5.m-offset1.m-span-new-row 3c


        !{partial('modules/global-footer.html.jade', l)}
        !{partial('includes/foot.html.jade', l)}

</html>
