---
title: Global Header/Footer Demo
description: Global Header/Footer Demo
---
include ../partials/includes/jade-helpers.jade
doctype 5
!{partial('includes/ieconditionals.html')}

l = {"locals":locals}
head
  !{partial('includes/head.html.jade', l)}

body

  #page-wrap-outer.page-wrap-outer
    #page-wrap-inner.page-wrap-inner
      e = {"locals":locals, "minimal":false, "data":data('global-header/default.json'), "sample_session_data":data('global-header/sample_session_data.json'), "sample_search_results":data('global-header/sample_search_results.json')}
      !{partial('modules/global-header.html.jade', e)}

      div#main.container.m-full-bleed(role='main')

        //- put content here - the div below is just to add height for the demo.
        .bs-docs-grid(style="height:1800px; background: rgb(70, 70, 70);")

      e = {"locals":locals, "minimal":false, "data":data('global-footer/default.json'), "sample_session_data":data('global-footer/sample_session_data.json')}
      !{partial('modules/global-footer.html.jade', e)}
      !{partial('includes/foot.html.jade', l)}

