---
title: Homepage Demo
description: Home Page Demo
---
doctype 5
!{partial('includes/ieconditionals.html')}

l = {"locals":locals}
  head
    !{partial('includes/head.html.jade', l)}
    
  body
    #page-wrap-outer.page-wrap-outer
      #page-wrap-inner.page-wrap-inner        
        
        !{partial('modules/global_header.html.eco', l)}
        
        e = {"locals":locals, "data":data('primary_tout/homepage.json')}
        !{partial('modules/primary_tout.html.jade', e)}
        
        section( style = "height:75px;" )
        
        // e = {"this":locals, "data":data('sony_one_carousel/default.json')}
        // !{partial('modules/sony_one_carousel.html.eco', e) }
        
        // section( style = "height:75px;" )
        
        // e = {"this":locals, "data":data('related_products/default.json')}
        // !{partial('modules/related_products.html.eco', e)}
        
        section( style = "height:75px;" )    
        
        !{partial('modules/global_footer.html.eco', l)}

    !{partial('includes/foot.html.jade', l)}
    
</html>
