---
title: 'jade test page'
description: 'this is a jade temlage page'
---
doctype 5
//if lt IE 8
  html.ie.lt-ie10.lt-ie9.lt-ie8(lang="en")
//if IE 8
  html.ie.lt-ie10.lt-ie9(lang="en")
//if IE 9
  html.ie.lt-ie10(lang="en")
//if (gt IE 9)|!(IE)
  html.modern(lang="en")

head
  !{partial('includes/meta.html')}

  if 'debug' == getEnvironments()
    e = {"this": locals}
	!{partial('includes/css_debug.html', e)}
  else
	!{partial('includes/css_deploy.html')}  

  !{partial('includes/js_head.html')}

body
  e = {"this":this, "data":data('example/mode1.json')}
  !{partial('modules/example.html.jade', e)}

  if 'debug' == getEnvironments()
    e = {"this": locals}
	!{partial('includes/js_footer_debug.html.eco', e)}
  else
    e = {"this": locals}
	!{partial('includes/js_footer_deploy.html.eco', e)}