---
title: Related-Products-G1
description: This is the Jaded Template for the related products module
---
doctype 5
!{partial('includes/ieconditionals.html')}

l = {"locals":locals}
head
  !{partial('includes/head.html.jade', l)}

body

	.container
		h4= 'S2. One Sony Tout Carousel'

  e = {"locals":locals, "data":data('one-sony-tout-carousel/default.json')}
  !{partial('modules/one-sony-tout-carousel-s2.html.jade', e)}

  script(src="js/libs/bootstrap-transition.js")
  	
  !{partial('includes/foot.html.jade', l)}

