---
title: G1. Related Products
description:
---
doctype 5
!{partial('includes/ieconditionals.html')}

l = {"locals":locals}
head
  !{partial('includes/head.html.jade', l)}
  title= 'G1. Related Products Layouts'
body

	.container
		h4= 'G1 - Related Products Tabbed Mode'

	e = {"locals":locals, "data":data('related-products-g1/homepage-tabbed.json')}
	!{partial('modules/related-products-g1.html.jade', e)}
	
	hr
	
	.container
		h4= 'G1 - Related Products Grouped 5up Mode'

	e = {"locals":locals, "data":data('related-products-g1/5up-teal-color.json')}
	- e.data.config.standalone = true
	!{partial('modules/related-products-g1.html.jade', e)}

	hr

	.container
		h4= 'G1 - Related Products Grouped 4up Mode'

	e = {"locals":locals, "data":data('related-products-g1/4up-purple-color.json')}
	- e.data.config.standalone = true
	!{partial('modules/related-products-g1.html.jade', e)}

	hr

	.container
		h4= 'G1 - Related Products Grouped 3up Mode'

	e = {"locals":locals, "data":data('related-products-g1/3up-orange-color.json')}
	- e.data.config.standalone = true
	!{partial('modules/related-products-g1.html.jade', e)}

	hr

	.container
		h4= 'G1 - Related Products 2up Mode'

	e = {"locals":locals, "data":data('related-products-g1/2up-view.json')}
	- e.data.config.standalone = true
	!{partial('modules/related-products-g1.html.jade', e)}

	hr

	.container
		h4= 'G1 - Related Products Strip Mode'

	e = {"locals":locals, "data":data('related-products-g1/strip-mode.json')}
	- e.data.config.standalone = true
	!{partial('modules/related-products-g1.html.jade', e)}
	
	hr

!{partial('includes/foot.html.jade', l)}