---
title: G1 Related Products Strip Item Demo
description: Strip product layout demo
---
doctype 5
!{partial('includes/ieconditionals.html')}

l = {"locals":locals}
head
  !{partial('includes/head.html.jade', l)}

body

	.container
		h4= 'G1 - Related Products Strip layout Demo'

  e = {"locals":locals, "data":data('related-products-g1/strip-mode.json')}
  - e.data.config.standalone = true
  !{partial('modules/related-products-g1.html.jade', e)}

!{partial('includes/foot.html.jade', l)}