---
title: E14. UX Marketing Convergence
description:
---

doctype 5
!{partial('includes/ieconditionals.html')}

l = {"locals":locals}

head
  !{partial('includes/head.html.jade', l)}

body

  h1 UX Marketing Convergence Layout:

  w = {"locals":locals, "data":data('ux-marketing-convergence-e14/watch-2prod.json')}
  !{partial('modules/ux-marketing-convergence-e14.html.jade', w)}

  l = {"locals":locals, "data":data('ux-marketing-convergence-e14/listen-3prod.json')}
  !{partial('modules/ux-marketing-convergence-e14.html.jade', l)}

  p = {"locals":locals, "data":data('ux-marketing-convergence-e14/play-3prod.json')}
  !{partial('modules/ux-marketing-convergence-e14.html.jade', p)}

  d = {"locals":locals, "data":data('ux-marketing-convergence-e14/discover-2prod.json')}
  !{partial('modules/ux-marketing-convergence-e14.html.jade', d)}

  cr = {"locals":locals, "data":data('ux-marketing-convergence-e14/create-2prod.json')}
  !{partial('modules/ux-marketing-convergence-e14.html.jade', cr)}

  co = {"locals":locals, "data":data('ux-marketing-convergence-e14/connect-2prod.json')}
  !{partial('modules/ux-marketing-convergence-e14.html.jade', co)}

  !{partial('includes/foot.html.jade', l)}