include ../includes/jade-helpers.jade
- var store_locator_input_default_full = "      " + sample_session_data.current_location

if typeof minimal !== 'undefined' && minimal === true
  - minimal_class = "footer-wrapper-minimal"
else 
  - minimal = false
  - minimal_class = ""

section#footer-wrapper.container.full-bleed-no-max.m-full-bleed.footer-wrapper.phone-at-567(class=minimal_class)
  .container.full-bleed-at-567
    .grid.grid-footer.no-grid-at-567
    	if !minimal
	    	.footer-store-locator.span3.footer-mobile-section.mobile-container-padded.input-outer-wrapper
				  h5= data.store_locator.title
				    i.fonticon-10-arrowhead-down.visible-phone
				  .store-locator-input-w
				    form.footer-store-locator-form.footer-form-border.input-group(method='post', action='', role='form')
				      i.fonticon-10-location.input-icon
				      label.visuallyhidden(for='store-locator-search-input') #{data.store_locator.title}
				      input#store-locator-search-input.footer-store-locator-input.footer-input.dark(type='text', id='store-locator-search-input', name='store-locator-search-input', value=store_locator_input_default_full)
				      button.btn.store-locator-submit-btn.footer-btn.input-btn(type='submit')= data.store_locator.button_label
				  a.footer-change-location-link(href=data.store_locator.locations_link)= data.store_locator.locations_link.label

				- each sec, i in data.link_sections
					.span3.footer-mobile-section.mobile-container-padded(role='navigation')
					  h5= sec.title
					    i.fonticon-10-arrowhead-down.visible-phone
					  ul.footer-links-list

					  	- each link, i in sec.links
						    li.footer-link-li
						      a(href=link.link)= link.label

	      .footer-ex.clearfix

				  .footer-language.span6.mobile-container-padded
				    .footer-language-selectors
				      #country-selector.btn-hover-group.country-selector
				        a.btn.dropdown-hover-toggle(href=data.language.country_selector.link)
				          i(class='sprite-flagBig-'+sample_session_data.current_flag.id)
				          span.dropdown-label= sample_session_data.current_flag.label

				      .btn-hover-group.language-selector
				        //- a.btn.dropdown-hover-toggle(data-toggle='dropdown', href='#')= sample_session_data.current_lang.id
				        a.btn.dropdown-hover-toggle(href='#')= sample_session_data.current_lang.id
				          i.fonticon-10-arrowhead-down.old-ie-cleartype-fix-gray30
				        .dropdown-hover-menu.bottom-up
				          .dropdown-hover-menu-lists-w
				            ul.dropdown-hover-menu-list

				            	- each lang, i in data.language.languages
				            		if lang.id === sample_session_data.current_lang.id
						              li(class="selected")
						                a(href=lang.link)
						                  span.dropdown-label-left= lang.id
						                  span.dropdown-label= lang.label
				            		else 
						              li
						                a(href=lang.link)
						                  span.dropdown-label-left= lang.id
						                  span.dropdown-label= lang.label

				  .footer-contact.span6.mobile-container-padded(role='navigation')
				    p
				    	- each link, i in data.contact.text_links
				      	a(href=link.link)= link.label

				    .footer-social-links
				      - each button, i in data.contact.social_buttons
					      a(href=button.link, class='footer-social-'+button.id)
					        i.old-ie-cleartype-fix-gray05(class=button.icon)
					        span.visuallyhidden= button.label

  footer.container.full-bleed-no-max.m-full-bleed.footer-signature-w.mobile-container-padded
	  .container
	    .grid.grid-footer.clearfix
	      .footer-signature
	        span.sprite-32a-sony-logo-sm-short.footer-sony-logo
	          span.visuallyhidden Sony
	        p.footer-legal-links

	        	- each link, i in data.signature.legal_links
		          a(href=link.link)= link.label
		          
	        span.footer-copyright= data.signature.copyright

