mixin docco()
	for name in doccopages()
		if name.indexOf('index.html') == -1
		    env = 'pages'
			hrf = 'docco/' + name.replace(/(.eco|.hb|.jade)/g, '')
			ti = title(name,env) || name.replace(/(.html|.html.eco|.html.hb|.html.jade)/g, '').replace(/(_|-)/g, ' ')
			li: a( href = hrf) #{ti}
			
doctype 5
!{partial('includes/ieconditionals.html')}

!{partial('includes/docs-head.html')}
body( data-spy = "scroll", data-target = ".bs-docs-sidebar" )
	!{partial('includes/docs-nav.html')}

	.jumbotron.subhead
	  .container-px-width
	    h2.bs-docs-heading JS Documentation
	    p.p1
        | Documentation for each class may be found on the links below.
	
	.container-px-width
		ul
			+docco()

	!{partial('includes/docs-foot.html')}
</html>